html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    line-height: 1.2;
    color: #f8f8f8;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.widget {
    width: 100%;
    height: 100%;
    background-color: #aaa;
}

.widget__container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .1s;
}

.widget__container--visible {
    opacity: 1;
}

.widget__board {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.widget__weather {
    grid-row-start: 2;
    grid-row-end: 4;
}

.widget__name {
    font-weight: 300;
}

.widget__dimension {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-between;
}

.widget__conditions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -13px;
}

.widget__icon {
    width: 40px;
    margin-right: 4px;
}

.widget__temp {
    font-size: 3.333333em;
    line-height: 1.2;
    text-align: center;
    margin-top: -8px;
}

.widget__desc {
    text-transform: lowercase;
}

.widget__error {
    font-size: 0.777777em;
    grid-row-start: 5;
    grid-row-end: 6;
}

.widget__img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.widget__img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(12, 12, 12, 0.6);
    top: 0;
    left: 0;
}

.city_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 25%;
}

.react-autosuggest__container {
    grid-row-start: 4;
    grid-row-end: 5;
}
.react-autosuggest__container--open {
    grid-row-start: 4;
    grid-row-end: 8;
}
.react-autosuggest__input {
    width: 100%;
    height: 48px;
    background: rgba(248, 248, 248, 0.2);
    border: 1px solid rgba(248, 248, 248, 0);
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    line-height: 1.2;
    color: #f8f8f8;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.react-autosuggest__input::placeholder {
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    line-height: 1.2;
    color: #f8f8f8;
    opacity: .8;
}
.react-autosuggest__input--open {
}
.react-autosuggest__input--focused {
    outline: none;
    background: rgba(248, 248, 248, 0.2);
    border: 1px solid rgba(248, 248, 248, 0.4);
}
.react-autosuggest__input--focused::placeholder {
    opacity: 0;
}
.react-autosuggest__suggestions-container {
    max-height:100%;
    overflow-y: scroll;
}
.react-autosuggest__suggestions-container--open {
    background: rgba(248, 248, 248, 0.2);
}
.react-autosuggest__suggestions-list {
    outline:none;
    list-style: none;
    margin: 0;
    padding: 0;
}
.react-autosuggest__suggestion {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    line-height: 1.2;
    color: #f8f8f8;
}
.react-autosuggest__suggestion:hover {
    background: rgba(248, 248, 248, 0.2);
    cursor: pointer;
}

@media (min-width: 48em) {

    
}

@media (min-width: 80em) {
    
}