html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    line-height: 1.2;
    color: #f8f8f8;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.widget {
    width: 100%;
    height: 100%;
    background-color: #aaa;
}

.widget__container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity .1s;
}

.widget__container--visible {
    opacity: 1;
}

.widget__board {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.widget__weather {
    grid-row-start: 2;
    grid-row-end: 4;
}

.widget__name {
    font-weight: 300;
    flex-grow: 0;
    display: inline-block;
    word-break: break-word;
}

.widget__date {
    flex-shrink: 0;
    margin-left: 16px;
}

.widget__dimension {
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: space-between;
}

.widget__conditions {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -13px;
}

.widget__icon {
    width: 40px;
    margin-right: 4px;
}

.widget__temp {
    font-size: 3.333333rem;
    line-height: 1.2;
    text-align: center;
    margin-top: -8px;
}

.widget__desc {
    text-transform: lowercase;
}

.widget__error {
    font-size: 0.777777rem;
    grid-row-start: 5;
    grid-row-end: 6;
}

.widget__img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.widget__img:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(12, 12, 12, 0.6);
    top: 0;
    left: 0;
}

.city_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 25%;
}

.react-autosuggest__container {
    grid-row-start: 4;
    grid-row-end: 5;
}

.react-autosuggest__container--open {
    grid-row-start: 4;
    grid-row-end: 8;
}

.react-autosuggest__container--open + .widget__error {
    display: none;
}

.react-autosuggest__input {
    width: 100%;
    height: 2.666666rem;
    background: rgba(248, 248, 248, 0.2);
    border: 1px solid rgba(248, 248, 248, 0);
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    line-height: 1.2;
    color: #f8f8f8;
    padding: 0 0 0 10px;
    box-sizing: border-box;
}

.react-autosuggest__input::placeholder {
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    line-height: 1.2;
    color: #f8f8f8;
    opacity: .8;
}

.react-autosuggest__input--focused {
    outline: none;
    background: rgba(248, 248, 248, 0.2);
    border: 1px solid rgba(248, 248, 248, 0.4);
}

.react-autosuggest__input--focused::placeholder {
    opacity: 0;
}

.react-autosuggest__suggestions-container {
    max-height: calc(100% - 2.666666rem);
    overflow-y: scroll;
    /*grid-row-start: 4;
    grid-row-end: 8;*/
}

.react-autosuggest__suggestions-container--open {
    background: rgba(248, 248, 248, 0.2);
}

.react-autosuggest__suggestions-list {
    outline:none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.react-autosuggest__suggestion {
    display: flex;
    align-items: center;
    height: 2.666666rem;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    line-height: 1.2;
    color: #f8f8f8;
}

.react-autosuggest__suggestion:hover {
    background: rgba(248, 248, 248, 0.2);
    cursor: pointer;
}

@media (min-width: 768px) {
    .widget__board {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0;
        padding: 0;
    }

    .widget__weather {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
        align-self: center;
    }

    .widget__dimension {
        grid-column-start: 4;
        grid-column-end: 8;
        grid-row-start: 3;
        grid-row-end: 4;
        display: block;
        justify-self: end;
        text-align: right;
        align-self: center;
    }

    .widget__temp {
        text-align: left;
        margin-top: 0;
    }

    .widget__name, .widget__temp {
        font-size: 3rem;
        font-weight: 100;
        line-height: 1.5;
    }

    .widget__conditions {
        justify-content: left;
        margin-top: 0;
        margin-left: -3px;
        margin-top: -15px;
    }

    .widget__date {
        line-height: 40px;
        flex-shrink: unset;
        margin-left: 0;
        margin-top: -15px;
    }

    .widget__error {
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .react-autosuggest__container {
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .react-autosuggest__container--open {
        grid-column-start: 2;
        grid-column-end: 8;
        grid-row-start: 4;
        grid-row-end: 6;
    }
}

@media (min-width: 1280px) {
    body {
        font-size: 20px;
    }

    .widget__board {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .widget__weather {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .widget__dimension {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 5;
    }

    .widget__name, .widget__temp {
        font-size: 4rem;
    }

    .widget__error {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    .react-autosuggest__container {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .react-autosuggest__container--open {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 8;
    }

    /*.react-autosuggest__suggestions-container {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 5;
        grid-row-end: 8;
    }*/
}